<table border=1>
    <tr>
        <td>ID</td>
        <td>dep</td>
         <td>Nom</td>
        <td>prenom</td>
                      <td>date</td> 

           <td>sexe</td>
              <td>pays</td>
              
              
    </tr>

{% for d in employe %}
    <tr>
        <td>{{ d.id}}</td>
          <td>{{ d.departement.nom}}</td>
        <td>{{ d.nom}}</td>
         <td>{{ d.prenom}}</td>
    <td>{{ d.date |date('d-m-y')}}</td>

        <td>{{ d.sexe}}</td>
        <td>{{ d.pays}}</td>
    </tr>
{% endfor %}
</table>
